<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mid.Point Main Page</title>
    <link rel="stylesheet" type="text/css" href="static/main2.css">
  </head>
  <body>


    <!-- This is for the top title part-->


<!-- Menu List -->
      <!--Contains the lists and links-->
      <div id="nav">
        <div id="header">
          <div id="header_mid">
            <img src="static/mid_img.png">
          </div>
          <div id="header_dot">
            <img src="static/dot_img.png">
          </div>
          <div id="header_point">
             <img src="static/point_img.png">
          </div>
        </div>
        <div id="nav_wrapper">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact Page</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
<!--End of Menu List -->



      <div id="main">
          <div id="main_left">
            <!-- LEFT TEXT -->
              <h1>Find a place at Mid Point!</h1>
          </div>
          <div id="main_right">
            <!-- Form Right-->
            <!-- Vic's code -->
        <button onclick="getLocation()">Get Location</button>
        <p id="demo"></p>
        <form action="/results">
          <h1>Enter Latitude</h1>
          <input id = "latBox" type="text" name="loc1" value=""/>
          <h1>Enter Longitude</h1>
          <input id = "lonBox"type="text" name="loc2" value=""/> <br/>
          <h1>Enter Friend Email</h1>
          <input id = "flatBox" type="text" name="femail" value=""/>
          <input type="submit" name="result" value="Submit" action="/results" value="/results"/>
        </form>

          </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="static/index.js"></script>
  </body>
</html>
