<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Form</title>
    <link rel="stylesheet" href="static/profile.css">
  </head>
  <body>
    <div id="nav">
      <div id="header">
        <div id="headerone">
          <img src="static/mid_img.png">
        </div>
        <div id="header_dot">
          <img src="static/dot_img.png">
        </div>
        <div id="headertwo">
           <img src="static/point_img.png">
        </div>
      </div>
      <div id="nav_wrapper">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Contact Page</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
      </div>
    </div>
    <br><br>
  <div id=form>
      <h1>Setup your profile!</h1>
      <form method="post" action ="/">
             <h3>Enter a name:</h3> <input type="text" name="name" value="{{autofill1}}"/>
             <h3>Enter your Address:</h3><input type="text" name="user_LatLocation" value="{{autofill2}}"/>
         <br>
          <p><input type="submit" value="Submit"></p>
     </form>
     Welcome, {{name}}! <a href="{{logout_url}}">sign out</a>
     <br><br>
  </div>
  </body>
</html>
